h1 {
    background-color: hsl(196deg 31% 85%); 
    width: 1200px;   
    border-radius: 30px;
    padding: 30px;
    border: 30px solid olive;
    text-align: center;
}   
li {

}

.page-text  {
    font-family: inherit, 'Times New Roman', Times, serif;
}